@import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Akaya Kanadaka', cursive;
}
#about:hover{
    background-color:white;
    color: black;
    transition: 0.8s;
    border-radius: 10px;
}
#contact:hover{
    background-color:white;
    color: black;
    transition: 0.8s;
    border-radius: 10px;
}
.alert{
    text-align: center;
    background-color:black;
    color: white;
    padding: 0;
    margin: 0%;
    border-radius: 0%;
    border: white;
}
.alert:hover{
    background-color:white;
    color:crimson;
    transition: 1s;
}
#first:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
#first{
    text-align: center;
    padding: 0;
}
#second:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
#second{
    text-align: center;
    padding: 0;
}
#donate{
    background-color:white;
    color: black;
    border-radius: 10px;   
}
#donate:hover{
    background-color:rgba(223, 61, 61, 0.897);
    color: white;
    border-radius: 10px;
}
section{
    padding: 50px 0;
}
section .title{
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-size: 50px;
    color: black;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:black;
    transform: translateX(-50%);    
}
section .title::after{
    position: absolute;
    bottom: -15px;
    left: 50%;
    padding: 5px;
    background:crimson;
    font-size: 20px;
    color: white;
    transform: translateX(-50%);   
    border-radius: 10px; 
}
.teams .title::after{
    content: "What We Do";
}
.teams .carousel .card{
    background: rgb(126, 194, 157);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.9s ease;
}
.teams .carousel .card:hover{
    background: crimson;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .box .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
}
.teams .carousel .card:hover img{
    border-color: #ddd;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
h3{
    text-align: center;
    margin-bottom: 50px;
}
h1{
    text-align: center;
}
   
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid green!important;
    transition: all 0.2s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: rgb(47, 197, 114)!important;
}

.about .about-container .colunm{
    width: 50%;
}
.about .about-container .left,
.contact .contact-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;

}
.about .about-container .right{
    flex: 100%;
}
.service .content .card{
    margin-bottom: 20px;
}
.contact .contact-content .column{
    margin-bottom: 35px;
}
.contact .contact-content .right,
.contact .contact-content .left{
    flex: 100%;
}
.about .title::after{
    content: "Who We Are";
}
.about .about-container,
.service .serv-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-container .left{
    width: 45%;
}
.about .about-container .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
}
.about .about-container .right{
    width: 50%;
    font-family: Ubuntu, sans-serif;
}
.about .about-container .right span{
    color: crimson;
    font-size: 30px;

}
.about .about-container .right p{
    font-family: sans-serif;
    text-align: justify;
}
.contact .title::after{
    content: "Get In Touch";
}
.contact .contact-content .column{
    display: inline-block;
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contact .contact-content .left{
    width: 45%;
    font-family: Ubuntu, sans-serif;
    margin: 0 20px;
}
.contact .contact-content .right{
    width: 40%;
    font-family: sans-serif;
    margin: 0 20px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icon{
    margin: 10px 0;

}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: crimson;
    font-weight: bold;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .field input,
.contact .right form .field textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .button{
    height: 47px;
    width: 150px;
}
.contact .right form .button button{
    width: 150%;
    height: 120%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    border-radius: 4px;
    padding-bottom: 0.5em;
    display: table;
    margin: 1em auto;
}
.contact .right form .button button:hover{
    color: crimson;
    background: none;
}
footer{
    background: black;
    padding: 10px 17px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: white;
}
footer:hover{
    background: white;
    color: black;
    transition: 5s;
}
